@media only screen and (max-width:1140px){
    body{
        font-size: 80%;
    }
}


@media only screen and (max-width:574px){
    
    .forBigger{
        display:none;
    }
    .forSmaller{
        display: flex;
        margin:0 auto;
        width:90%;
    }

    #need img{
        width:120px;
    }


}

@media only screen and (max-width:338px){
    footer{
        font-size: 80%;
    }
}