@media only screen and (max-width:970px){
    body{
        font-size: 70%;
    }
}


@media only screen and (max-width:574px){
    
    .forBigger{
        display:none;
    }
    .forSmaller{
        display: flex;
        margin:0 auto;
        width:90%;
    }
}