@media only screen and (max-width:1400px){
    body{
        font-size: 75%;
    }
}

@media only screen and (max-width:694px){
    #myTab{
        display:none;
    }

    .forDrop{
        display: flex;
    }
}

@media only screen and (max-width:574px){
    .forBigger{
        display:none;
    }

    .forSmaller{
        display: block;
        margin-right:30px;
    }
}