#HeaderImg{
    width:100%;
}

#photoSec{
    margin-top:100px;
    font-size: 1.6em;
}

#photoSec img{
    margin:50px 30px 2px;
    width:90%;
}

#photoSec figcaption{
    margin:10px 30px;
}

#photoSec input{
    padding: 7px 25px;
    margin-top:30px;
}

#photoSec form{
    display: flex;
    justify-content: center;
}

.forDrop{
    margin:0 auto;
    width:70%;
    display: none;
    border: 1px #000 solid
}

.forDrop a:visited{
    background-color: #fff;
    color:#000;
}

.forDrop a:hover{
    color:#007bff;
}

.forSmaller{
    display:none;
}

.forSmaller img{
    width:100%;
}

