#HeaderImg{
    width:100%;
    margin-right:0;
    margin-left:0;
}

#photoSec{
    padding-top:70px; /* it was margin-top i changed it to delete the white margin */
    font-size: 1.4em;
}

#photoSec img{
    display: flex;
    justify-content: center;
    margin:40px auto 8px;
    width:90%;
    height:auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

#photoSec img:hover{
        opacity: 0.3;
}

#photoSec figcaption{
    margin:0px 20px 20px;

}

#photoSec input{
    padding: 7px 25px;
    margin-top:30px;
}

#myTab{
    display:flex;
    justify-content: center;
    margin:0 10px;
}
#photoSec form{
    display: flex;
    justify-content: center;
}

.forSmaller{
    display:none;
    margin-right:23px;;
}

#need{
    background-image: url('../img/skyblue.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #44318d;
    height:100%;
    margin: 0 auto;
    text-align: center;
    padding: 3% 4% 15%;
    font-weight: bold;
    color: white;
}

#need h2{
    font-size:1.7em;
}
#need p{
    font-size:1.3em;
    
}




