body {
    font-family: "Open Sans";
    color: #737373;
}
li.active  > a {
    border-bottom:1px solid gray;
 }

.bg-color-2 {
    background-color: rgb(237,241,245);
}
/* News Section */
/* header section */

/* article section */
.bg-news{
    background-color: #f6f6f6;
}
.fullImage{
    width: 100%;
    height: 90%;
}
